.newsFeed {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttonGroup {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
  gap: 10px;
}

.buttonGroup button,
.buttonGroup a {
  margin: 5px;
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  font-size: 16px; /* Добавим размер шрифта */
  transition: background-color 0.3s ease;
}

.buttonGroup button:hover,
.buttonGroup a:hover {
  background-color: #0056b3;
}

.loadMoreButton {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 16px; /* Добавим размер шрифта */
}

.loadMoreButton:hover {
  background-color: #0056b3;
}

.newsList {
  width: 100%;
  max-width: 600px;
}

.newsItem {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.newsItem a {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

.newsItem a:hover {
  text-decoration: underline;
}

.newsItem div {
  margin-top: 5px;
  color: #555;
}

.newsItem button {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.newsItem button:hover {
  background-color: #0056b3;
}
